/resource/input.smi
/resource/input_prepared.smi
/resource/input_prepared.sdf
/resource/pdbqts
/resource/gypsumFolder
/resource/docked
/Vina/ADFRsuite_Linux-x86_64_1.0_install
/Vina/pocket_detection.py
**/__pycache__/
/gypsum_dl/
/uploads/
/jobs/
/resource/model_20.pt
/logs
/scripts
/test